{% extends "layouts/base.html" %}

{% block title%}
Registrations
{% endblock %}

{% block content %}
<div class="container">
  <div>
      <h1>Step 1 of 2 - Registrations</h1>
      {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                <h3>{{ messages[0] }}</h3>
            </div>
            <br>
            {% endif %}
      {% endwith %}
      <form action="{{ url_for('app1.registrations') }}" method="post">
          <button type="submit" class="submit-button">Next</button>
          <div class="table-wrapper">
              <h3>NOTE: Animals who have recently been birth notified will not show up to be registered until the registrar approves of the submission</h3>
              <div style="overflow:auto;width:800px;height:500px;" id="table-holder">
                  <table class="fl-table">
                      <thead>
                          <tr>
                              <th>Register</th>
                              <th>Registration Number</th>
                              <th>Prefix</th>
                              <th>Name</th>
                              <th>Birth Date</th>
                              <th>Sex</th>
                              <th>Birth Type</th>
                              <th>Coat Color</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for id_animalid, flock_prefix, animal_name, id_animalidinfoid, id_number, official_id, id_idtypeid,
                          id_color_name, id_location_name, birth_date, sex_abbrev, birth_type, registration_number
                          in birth_notified_animals %}
                          <tr>
                              <td>
                                  <div>
                                      <input type="checkbox" name="cb_{{ loop.index }}">
                                  </div>
                              </td>
                              <td><input type="text" name="reg_num_{{ loop.index }}" value="{{ registration_number }}" readonly/></td>
                              <td><input type="text" name="prefix_{{ loop.index }}" value="{{ flock_prefix }}" readonly/></td>
                              <td><input type="text" name="name_{{ loop.index }}" value="{{ animal_name }}" readonly/></td>
                              <td><input type="text" name="dob_{{ loop.index }}" value="{{ birth_date }}" readonly/></td>
                              <td><input type="text" name="sex_{{ loop.index }}" value="{{ sex_abbrev }}" readonly/></td>
                              <td><input type="text" name="birth_type_{{ loop.index }}" value="{{ birth_type }}" readonly/></td>
                              <td>
                                <select name="coat_color_{{ loop.index }}">
                                    {% for coat_color in coat_colors %}
                                        {% if coat_color.lower() == 'black' %}
                                        <option value="{{ coat_color }}" selected>{{ coat_color }}</option>
                                        {% else %}
                                        <option value="{{ coat_color }}">{{ coat_color }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                              </td>
                              <input type="hidden" name="id_number_{{ loop.index }}" value="{{ id_number }}" readonly/>
                              <input type="hidden" name="id_animalid_{{ loop.index }}" value="{{ id_animalid }}" readonly/>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        </form>
  </div>
</div>

<script>
    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.9);

      // Get a reference to the div element
      var divElement = document.getElementById('table-holder'); // Replace 'yourDivId' with the actual ID of your div

      // Set the new width for the div
      divElement.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>
{% endblock %}