{% extends "layouts/base.html" %}

{% block title%}
Update Registration
{% endblock %}

{% block content %}
<div class="container">
  <div>
      <h1>Step 2 of 2 - Registrations</h1>
      <form action="{{ url_for('app1.registration_update') }}" method="post">
          <button type="submit" class="submit-button">Submit</button>
          <div class="table-wrapper">
              <h3>NOTE: Animals who have recently been birth notified will not show up to be registered until the registrar approves of the submission</h3>
              <div style="overflow:auto;width:800px;" id="table-holder">
                  <table class="fl-table">
                      <thead>
                          <tr>
                              <th>Registration Number</th>
                              <th>Prefix</th>
                              <th>Name</th>
                              <th>Birth Date</th>
                              <th>Sex</th>
                              <th>Birth Type</th>
                              <th>Is Official</th>
                              <th>Official Electronic ID or US Federal Scrapie ID</th>
                              <th>Farm Tag</th>
                              <th>Coat Color</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for flock_prefix, animal_name, birth_date, sex_name, birth_type, registration_number, coat_color, id_number, id_animalid, tag_dict
                          in animal_data %}

                          <tr>
                              <td><input type="text" name="reg_num_{{ loop.index }}" value="{{ registration_number }}" readonly/></td>
                              <td><input type="text" name="prefix_{{ loop.index }}" value="{{ flock_prefix }}" readonly/></td>
                              <td><input type="text" name="name_{{ loop.index }}" value="{{ animal_name }}"/></td>
                              <td><input type="text" name="dob_{{ loop.index }}" value="{{ birth_date }}"/></td>

                              <td>
                                  <select name="sex_{{ loop.index }}">
                                      {% for sex in sexes %}
                                        {% if sex == sex_name %}
                                            <option value="{{ sex }}" selected>{{ sex }}</option>
                                        {% else %}
                                            <option value="{{ sex }}">{{ sex }}</option>
                                        {% endif %}
                                      {% endfor %}
                                  </select>
                              </td>
                              <td>
                                  <select name="birth_type_{{ loop.index }}">
                                    {% for bt in birth_types %}
                                        {% if bt == birth_type %}
                                        <option value="{{ bt }}" selected>{{ bt }}</option>
                                        {% else %}
                                        <option value="{{ bt }}">{{ bt }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                              </td>
                              <td>
                                  {% if 'official' in tag_dict.keys() %}
                                    <input type="checkbox" name="is_official_cb_{{ loop.index }}" checked>
                                  {% else %}
                                    <input type="checkbox" name="is_official_cb_{{ loop.index }}">
                                  {% endif %}
                              </td>


                              {# official Tags below here #}
                              <td>
                                    <select name="type_{{ loop.index }}">

                                        {% if 'official' in tag_dict.keys() %}

                                            {% for ty_id, ty in types %}
                                                {% if ty in ['Federal', 'Electronic', 'Federal Scrapie'] %}
                                                    {% if ty == tag_dict['official']['type'] %}
                                                         <option value="{{ ty_id }}" selected>{{ ty }}</option>
                                                    {% else %}
                                                         <option value="{{ ty_id }}">{{ ty }}</option>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                        {% else %}
                                            {% for ty_id, ty in types %}
                                                {% if ty in ['Federal', 'Electronic', 'Federal Scrapie'] %}
                                                    <option value="{{ ty_id }}">{{ ty }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    <select name="color_{{ loop.index }}">
                                        {% if 'official' in tag_dict.keys() %}

                                            {% for color_id, color in colors %}
                                                {% if color == tag_dict['official']['color'] %}
                                                    <option value="{{ color_id }}" selected>{{ color }}</option>
                                                {% else %}
                                                    <option value="{{ color_id }}">{{ color }}</option>
                                                {% endif %}
                                            {% endfor %}

                                        {% else %}

                                            {% for color_id, color in colors %}
                                                <option value="{{ color_id }}">{{ color }}</option>
                                            {% endfor %}

                                        {% endif %}
                                    </select>
                                    <select name="location_{{ loop.index }}">

                                        {% if 'official' in tag_dict.keys() %}
                                            {% for loc in locations %}
                                                {% if loc == tag_dict['official']['loc'] %}
                                                    <option value="{{ loc }}" selected>{{ loc }}</option>
                                                {% else %}
                                                    <option value="{{ loc }}">{{ loc }}</option>
                                                {% endif %}
                                            {% endfor %}

                                        {% else %}

                                            {% for loc in locations %}
                                                {% if loc == 'Left Ear' %}
                                                     <option value="{{ loc }}" selected>{{ loc }}</option>
                                                {% else %}
                                                     <option value="{{ loc }}">{{ loc }}</option>
                                                {% endif %}
                                            {% endfor %}

                                        {% endif %}
                                    </select>
                                    {% if 'official' in tag_dict.keys() %}
                                        <input type="text" name="number_{{ loop.index }}" value="{{ tag_dict['official']['number'] }}">
                                    {% else %}
                                        <input type="text" name="number_{{ loop.index }}">
                                    {% endif %}
                                </td>

                              {# unofficial tags below! #}
                                <td>
                                    <select name="ft_type_{{ loop.index }}">
                                        {% if 'unofficial' in tag_dict.keys() %}

                                            {% for ty_id, ty in types %}
                                                {% if ty != 'Federal '%}
                                                    {% if ty == tag_dict['unofficial']['type'] %}
                                                         <option value="{{ ty_id }}" selected>{{ ty }}</option>
                                                    {% else %}
                                                         <option value="{{ ty_id }}">{{ ty }}</option>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                        {% else %}

                                            {% for ty_id, ty in types %}
                                                {% if ty != 'Federal' %}
                                                    {% if ty == 'Farm' %}
                                                         <option value="{{ ty_id }}" selected>{{ ty }}</option>
                                                    {% else %}
                                                         <option value="{{ ty_id }}">{{ ty }}</option>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                        {% endif %}
                                    </select>
                                    <select name="ft_color_{{ loop.index }}">

                                        {% if 'unofficial' in tag_dict.keys() %}

                                            {% for color_id, color in colors %}
                                                {% if color == tag_dict['unofficial']['color'] %}
                                                    <option value="{{ color_id }}" selected>{{ color }}</option>
                                                {% else %}
                                                    <option value="{{ color_id }}">{{ color }}</option>
                                                {% endif %}
                                            {% endfor %}

                                        {% else %}

                                            {% for color_id, color in colors %}
                                                <option value="{{ color_id }}">{{ color }}</option>
                                            {% endfor %}

                                        {% endif %}
                                    </select>
                                    <select name="ft_location_{{ loop.index }}">

                                        {% if 'unofficial' in tag_dict.keys() %}
                                            {% for loc in locations %}
                                                {% if loc == tag_dict['unofficial']['loc'] %}
                                                    <option value="{{ loc }}" selected>{{ loc }}</option>
                                                {% else %}
                                                    <option value="{{ loc }}">{{ loc }}</option>
                                                {% endif %}
                                            {% endfor %}

                                        {% else %}

                                            {% for loc in locations %}
                                                <option value="{{ loc }}">{{ loc }}</option>
                                            {% endfor %}

                                        {% endif %}

                                    </select>

                                    {% if 'unofficial' in tag_dict.keys() %}
                                        <input type="text" name="ft_number_{{ loop.index }}" value="{{ tag_dict['unofficial']['number'] }}">
                                    {% else %}
                                        <input type="text" name="ft_number_{{ loop.index }}">
                                    {% endif %}
                                </td>
                              <td>
                                <select name="coat_color_{{ loop.index }}">
                                    {% for coat_color_from_db in coat_colors %}
                                        {% if coat_color_from_db == coat_color %}
                                        <option value="{{ coat_color_from_db }}" selected>{{ coat_color_from_db }}</option>
                                        {% else %}
                                        <option value="{{ coat_color_from_db }}">{{ coat_color_from_db }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                              </td>

                              {# hidden field for getting id_animalid #}
                              <input type="hidden" name="id_animalid_{{ loop.index }}" value="{{ id_animalid }}" readonly/>

                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        </form>
  </div>
</div>

<script>
    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.9);

      // Get a reference to the div element
      var divElement = document.getElementById('table-holder'); // Replace 'yourDivId' with the actual ID of your div

      // Set the new width for the div
      divElement.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>
{% endblock %}