{% extends "layouts/base.html" %}

{% block title%}
Birthing Details
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1>Step 1 of 2 - Birth Details</h1>
        <form action="{{ url_for('app1.birth_details') }}" method="post" onsubmit="return validateDate()">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
                <br>
                {% endif %}
            {% endwith %}
            <button type="submit" class="submit-button">Next</button>
            <table class="simpletable">
                <tr>
                    <td>Date of Birth:</td>
                    <td>
                        <input type="date" value="" id="dob" name="dob" required>
                    </td>
                </tr>
                <tr>
                    <td>Conception Type:</td>
                    <td>
                        <select name="conceptionType">
                            {% for ct_id, ct in conceptionTypes %}
                            <option value="{{ ct_id }}">{{ ct }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Notes:</td>
                    <td>
                        <input type="text" name="birth_notes" id="birth_notes" style="width: 100%;">
                    </td>
                </tr>
                <tr>
                    <td>Sire:</td>
                    <td>
                        <select name="sire">
                            {% for animal_id, reg_num, flock, name, official_tag, sex, birth_type, dob, coat_color in sires %}
                                {% if chosen_sire == animal_id %}
                                    <option value="{{ animal_id }},{{ reg_num }},{{ flock }},{{ name }},{{ official_tag }}" selected>{{ reg_num }} {{ flock }} {{ name }} {{ official_tag }}</option>
                                {% else %}
                                    <option value="{{ animal_id }},{{ reg_num }},{{ flock }},{{ name }},{{ official_tag }}">{{ reg_num }} {{ flock }} {{ name }} {{ official_tag }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Dam:</td>
                    <td>
                        <select name="dam">
                            {% for animal_id, reg_num, flock, name, official_tag, sex, birth_type, dob, coat_color in dams %}
                                {% if chosen_sire == animal_id %}
                                    <option value="{{ animal_id }},{{ reg_num }},{{ flock }},{{ name }},{{ official_tag }}" selected>{{ reg_num }} {{ flock }} {{ name }} {{ official_tag }}</option>
                                {% else %}
                                    <option value="{{ animal_id }},{{ reg_num }},{{ flock }},{{ name }},{{ official_tag }}">{{ reg_num }} {{ flock }} {{ name }} {{ official_tag }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Number Born:</td>
                    <td>
                        <select name="numberBorn">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
  function validateDate() {
    var dateInput = document.getElementById('dob').value;
    var enteredDate = new Date(dateInput);
    var currentDate = new Date();

    // Set the time portion of the current date to midnight
    currentDate.setHours(0, 0, 0, 0);

    if (enteredDate > currentDate) {
      alert("Invalid date! Date must not be greater than the current day.");
      return false; // Prevent form submission
    }

    return true; // Allow form submission
  }
</script>
{% endblock %}