{% extends "layouts/base.html" %}

{% block title%}
Offspring Details
{% endblock %}


{% block content %}

<div class="container">
    <form action="{{ url_for('app1.offspring') }}" method="post" id="offspringForm" onsubmit="return validateTableInputs()">
        <h1>Step 2 of 2 - Offspring Details</h1>
        <br>
        <div class="container">
            <table class="simpletable" style="width: 75%;">
                <tr>
                    <td>Date of Birth:</td>
                    <td>
                        <input name="dob" value="{{ dob }}" style="width: 100%;" readonly>
                    </td>
                </tr>
                <tr>
                    <td>Conception Type:</td>
                    <td>
                      <input name="conceptionType" value="{{ conceptionType }}" style="width: 100%;" readonly>
                    </td>
                </tr>
                <tr>
                    <td>Sire:</td>
                    <td>
                        <input name="sire" value="{{ sire }}" style="width: 100%;" readonly>
                    </td>
                </tr>
                <tr>
                    <td>Dam:</td>
                    <td>
                        <input name="dam" value="{{dam}}" style="width: 100%;" readonly>
                    </td>
                </tr>
                <tr>
                    <td>Number Born:</td>
                    <td>
                      <input name="numberBorn" value="{{numberBorn}}" style="width: 100%;" readonly>
                    </td>
                </tr>
            </table>
        </div>
        <br>

        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="notification is-danger">
                        <h3>{{ messages[0] }}</h3>
                    </div>
                    <br>
                    {% endif %}
        {% endwith %}

        <p>Stillborns only require the stillborn button be checked. Federal Tags are US Official Scrapie tags. 840 or 124 tags are Electronic tags.</p>
        <div style="overflow:auto;width:800px;" id="table-holder">
            <table class="fl-table" id="birthsTable">
                <tr>
                    <th>Is Stillborn</th>
                    <th>Gender</th>
                    <th>Prefix</th>
                    <th>Animal Name</th>
                    <th>Official Electronic ID or US Federal Scrapie ID</th>
                    <th>Farm Tag</th>
                    <th>Weight</th>
                    <th>Weight Units</th>
                    <th>Coat Color</th>
                </tr>
                {% for i in range(numberBorn) %}
                <tr>
                    <td>
                        <div>
                            <input type="checkbox" name="stillborn_{{i}}" onchange="removeRowContent(this)">
                        </div>
                    </td>
                    <td>
                        <select name="gender_{{i}}">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Unknown">Unknown</option>
                        </select>
                    </td>
                    <td><input type="text" name="prefix_{{i}}" value="{{ prefix }}" readonly></td>
                    <td><input type="text" name="animalName_{{i}}"></td>
                    <td>
                        <select name="type_{{i}}">
                            <option value="-1">Select Type</option>
                            <option value="1">Federal</option>
                            <option value="2">Electronic</option>
                        </select>
                        <select name="color_{{i}}">
                            {% for color_id, color in colors %}
                                <option value="{{ color_id }}">{{ color }}</option>
                            {% endfor %}
                        </select>
                        <select name="location_{{i}}">
                            {% for loc in official_locations %}
                                <option value="{{ loc }}">{{ loc }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="number_{{i}}">
                    </td>
                    <td>
                        <select name="ft_type_{{i}}">
                            {% for ty_id, ty in types %}
                                <option value="{{ ty_id }}">{{ ty }}</option>
                            {% endfor %}
                        </select>
                        <select name="ft_color_{{i}}">
                            {% for color_id, color in colors %}
                                <option value="ft_{{ color_id }}">{{ color }}</option>
                            {% endfor %}
                        </select>
                        <select name="ft_location_{{i}}">
                            {% for loc in farm_locations %}
                                <option value="ft_{{ loc }}">{{ loc }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="ft_number_{{i}}">
                    </td>
                    <td><input type="number" name="weight_{{i}}" min="0" step="0.01" max="15"></td>
                    <td>
                        <select name="units_{{i}}">
                            <option value="lbs">LBS</option>
                            <option value="kg">KG</option>
                        </select>
                    </td>
                    <td>
                        <select name="coat_color_{{i}}">
                            {% for coat_color in coat_colors %}
                                {% if coat_color.lower() == 'black' %}
                                <option name="coat_color_{{ coat_color }}" value="{{ coat_color }}" selected>{{ coat_color }}</option>
                                {% else %}
                                <option name="coat_color_{{ coat_color }}" value="{{ coat_color }}">{{ coat_color }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <div>
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </form>
</div>

<script>
    // script for updating table size
    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.95);

      // Get a reference to the div element
      var divElement = document.getElementById('table-holder'); // Replace 'yourDivId' with the actual ID of your div

      // Set the new width for the div
      divElement.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>

<script>
    // regex for electronic tag
    const electronic_regex = /^\d{3}_\d{12}$/;

    function validateTableInputs() {
      var table = document.getElementById('birthsTable');
      var rows = table.querySelectorAll("tr");

      // Iterate over the rows and check the input fields
      for (var i = 1; i < rows.length; i++) {
          // todo need to add checking if the stillborn box is checked so we have it for use elsewhere

          var stillborncheckbox = document.getElementsByName("stillborn_" + i)[0];  // Assuming there's only one element with this name
          var checkboxChecked = stillborncheckbox.checked;

        var animalNameInput = rows[i].querySelector("input[name^='animalName_']");
        var numberInput = rows[i].querySelector("input[name^='number_']");
        var ftNumberInput = rows[i].querySelector("input[name^='ft_number_']");
        //var weightInput = rows[i].querySelector("input[name^='weight_']");

        console.log(rows[i])
        // var tagOne = rows[i].querySelector("input[name^='type_']");
        var tagOne = rows[i].querySelector("select[name^='type_']");
        var tagTwo = rows[i].querySelector("select[name^='ft_type_']");

        console.log(tagOne);

        var animalNameValue = animalNameInput.value.trim();
        var numberValue = numberInput.value.trim();
        var ftNumberValue = ftNumberInput.value.trim();
        //var weightValue = weightInput.value.trim();

        var tagOneValue = tagOne.value.trim();
        var tagTwoValue = tagTwo.value.trim();

        // Check if animalName field is empty
        if (!checkboxChecked && animalNameValue === "") {
          alert("Please fill out the Animal Name for row " + i + " If stillborn the name should be in format YYYY-Dam Name-Stillborn-Number");
          return false;
        }

        // Check if either number or ft_number field is filled
        if (!checkboxChecked && numberValue === "" && ftNumberValue === "") {
          alert("Please enter at least 1 tag for row " + i);
          return false;
        }

        // Check if weight field is empty
        if (weightValue === "") {
          alert("Please fill out the weight field for row " + i);
          return false;
        }

        if (tagOneValue.toLowerCase() === 'electronic') {
            // make sure that the corresponding value meets the requirements
            if (!electronic_regex.test(numberValue)) {
                alert("Electronic tag is not formatted correctly. It must be in the format:\n\n\'XXX_XXXXXXXXXXXX\'")
                return false;
            }
        }
        if (tagTwoValue.toLowerCase() === 'electronic') {
            // make sure that the corresponding value meets the requirements
            if (!electronic_regex.test(ftNumberValue)) {
                alert("Electronic tag is not formatted correctly. It must be in the format:\n\n\'XXX_XXXXXXXXXXXX\'")
                return false;
            }
        }
      }

      return true;
    }
</script>

<script>
    function removeRowContent(checkbox) {
        // Get the parent row of the checkbox
        var row = checkbox.closest('tr');

        // Get all input elements in the row
        var inputs = row.getElementsByTagName('input');

        // Loop through each input element and clear its value
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type === 'text') {
                if (!inputs[i].name.includes("prefix")) {
                    inputs[i].value = '';
                    inputs[i].readOnly = checkbox.checked;
                }
            }
        }
    }
</script>

{% endblock %}