<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.icns') }}">
    <title>{% block title %}{% endblock %}</title>
    <div class="top-thing">
      <img src="{{ url_for('static', filename='at_logo_tiny.png') }}" alt="logo"/>
      <h1>American Black Welsh Mountain Sheep Association</h1>
    </div>
    <div class="topnav">
      <a class="active" href="{{ url_for('app1.home') }}">Home</a>
      <a href="{{ url_for('app1.my_flock') }}">My Flock</a>
      <a href="{{ url_for('app1.birth_details') }}">Births</a>
      <a href="{{ url_for('app1.registrations') }}">Registrations</a>
      <a href="{{ url_for('app1.deaths') }}">Deaths</a>
      <a href="{{ url_for('app1.transfers') }}">Transfers</a>
      <a href="{{ url_for('app1.id_updates') }}">ID Updates</a>
      <a href="{{ url_for('app1.animal_search') }}">Animal Search</a>
      <a href="{{ url_for('app1.member_search') }}">Member Search</a>
      <a href="{{ url_for('app1.change_contact_info') }}">Change Contact Information</a>
      <a href="{{ url_for('app1.mark_for_sale') }}">Mark Animals for Sale</a>
      <a href="{{ url_for('app1.mark_for_stud') }}">Mark Animals at Stud</a>
      <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
    <br>
    <br>
    <br>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2023 by <a href="https://desertweyr.com/">Desert Weyr LLC. AnimalTrakker® Logo used with permission. </a>.
      {% endblock %}
    </div>
  </body>
</html>