{% extends "layouts/base.html" %}

{% block title%}
ID Updates
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1>Step 1 of 2: ID Updates</h1>
        <br>
        <form action="{{ url_for('app1.id_updates') }}" method="post">
            <button type="submit"  class="submit-button">Next</button>
            <br>
            <h3>Select IDs to update</h3>
            <br>
            <div style="overflow:auto;width:800px;height:400px;" id="table-holder">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Change Tag</th>
                            <th>Flock Prefix</th>
                            <th>Name</th>
                            <th>Tag Number</th>
                            <th>is Official</th>
                            <th>Type</th>
                            <th>Color</th>
                            <th>Location</th>
                            <th>Date Off</th>
                            <th>Sex</th>
                            <th>Registration #</th>
                            <th>Remove Reason</th>
                        </tr>
                    </thead>
                    <tbody>


                        {% for id_animalid, flock_prefix, animal_name, id_animalidinfoid, id_number, official_id, id_idtypeid,
                               id_color_name, id_location_name, birth_date, sex_name, birth_type, reg_num in id_info %}
                        <tr>
                            {% with row_idx = loop.index  %}
                            <td><input type="checkbox" name="cb_{{ row_idx }}"></td>

                            <td><input type="text" name="prefix_{{ row_idx }}" value="{{ flock_prefix }}" readonly/></td>
                            <td><input type="text" name="name_{{ row_idx }}" value="{{ animal_name }}" readonly/></td>
                            <td><input type="text" name="tagnum_{{ row_idx }}" value="{{ id_number }}" readonly/></td>
                            <td>
                                {% if official_id == 1 %}
                                    <input type="checkbox" name="is_official_cb_{{ row_idx }}" onclick="return false;" checked>
                                {% else %}
                                    <input type="checkbox" name="is_official_cb_{{ row_idx }}" onclick="return false;">
                                {% endif %}
                            </td>
                            <td>
                                {% with type_name = types[id_idtypeid]%}
                                <input type="text" name="type_{{ row_idx }}" value="{{ type_name }}" readonly/>
                                {% endwith%}

                            </td>
                            <td>
                                <input type="text" name="color_{{ row_idx }}" value="{{ id_color_name }}" readonly/>
                            </td>
                            <td>
                                <input type="text" name="location_{{ row_idx }}" value="{{ id_location_name }}" readonly/>
                            </td>
                            <td><input type="date" name="date_off_{{ row_idx }}"/></td>
                            <td><input type="text" name="sex_{{ row_idx }}" value="{{ sex_name }}" readonly/></td>
                            <td><input type="text" name="regnum_{{ row_idx }}" value="{{ reg_num }}" readonly></td>
                            <td>
                                <select name="reason_{{ row_idx }}">
                                    <option value="--Select Reason--">--Select Reason--</option>
                                    {% for reason in reasons %}
                                    <option value="{{ reason }}">{{ reason }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            {% endwith %}
                        </tr>

                        {% endfor %}
                    </table>
                </tbody>
            </div>
        </form>
    </div>
</div>

<script>
    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.95);

      // Get a reference to the div element
      var divElement = document.getElementById('table-holder'); // Replace 'yourDivId' with the actual ID of your div

      // Set the new width for the div
      divElement.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>
{% endblock %}