{% extends "layouts/base.html" %}

{% block title%}
Update Tags
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1>Step 2 of 2: ID Updates</h1>
        <form action="{{ url_for('app1.stage_id_updates') }}" method="post">
            {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="notification is-danger">
            <h1>{{ messages[0] }}</h1>
          </div>
          <br>
          {% endif %}
          {% endwith %}
            <button type="submit" class="submit-button">Submit</button>
            <br>
            {% for row in animals_for_staging %}
            <div style="overflow:auto;width:800px;" id="table-holder-{{ loop.index }}" class="table-holder">
            <table class="fl-table">
                <tr>
                    <th>Flock Prefix</th>
                    <th>Name</th>
                    <th>Tag Number</th>
                    <th>Is Official</th>
                    <th>Type</th>
                    <th>Color</th>
                    <th>Location</th>
                    <th>Date Off</th>
                    <th>Remove Reason</th>
                </tr>

                <tr>
                    <td><input type="text" name="old_prefix_{{ loop.index }}" value="{{ row['prefix'] }}" readonly/></td>
                    <td><input type="text" name="old_name_{{ loop.index }}" value="{{ row['name'] }}" readonly/></td>
                    <td><input type="text" name="old_tagnum_{{ loop.index }}" value="{{ row['tagnum'] }}" readonly/></td>
                    <td>
                        {% with is_official = row['official']%}

                        {% if is_official %}
                            <input type="checkbox" name="old_is_official_cb_{{ loop.index }}" onclick="return false;" checked>
                        {% else %}
                            <input type="checkbox" name="old_is_official_cb_{{ loop.index }}" onclick="return false;">
                        {% endif %}

                        {% endwith %}
                    </td>
                    <td>
                        {% with tag_type = row['type'] %}
                            <input type="text" name="old_type_{{ loop.index }}" value="{{ tag_type }}" readonly>
                        {% endwith %}
                    </td>
                    <td>
                        {% with tag_color = row['color'] %}
                            <input type="text" name="old_color_{{ loop.index }}" value="{{ tag_color }}" readonly>
                        {% endwith %}
                    </td>
                    <td>
                        {% with tag_loc = row['loc'] %}
                            <input type="text" name="old_loc_{{ loop.index }}" value="{{ tag_loc }}" readonly>
                        {% endwith %}
                    </td>

                    <td><input type="date" name="old_date_off_{{ loop.index }}" value="{{ row['date_off'] }}"/></td>
                    <td>
                        <select name="old_reason_{{loop.index}}">
                            {% with tag_reason = row['reason'] %}
                                <option value="--Select Reason--">--Select Reason--</option>
                                {% for reason in reasons %}
                                    {% if reason == tag_reason %}
                                        <option value="{{ reason }}" selected>{{ reason }}</option>
                                    {% else %}
                                        <option value="{{ reason }}">{{ reason }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </select>
                    </td>
                </tr>

            <!--      next row      -->
                <tr>
                    <th>Flock Prefix</th>
                    <th>Name</th>
                    <th>New Tag Number</th>
                    <th>Is Official</th>
                    <th>New Type</th>
                    <th>New Color</th>
                    <th>New Location</th>
                    <th>Date Added</th>
                </tr>
                <tr>
                    <td><input type="text" name="new_prefix_{{ loop.index }}" value="{{ row['prefix'] }}" readonly/></td>
                    <td><input type="text" name="new_name_{{ loop.index }}" value="{{ row['name'] }}" readonly/></td>
                    <td><input type="text" name="new_tagnum_{{ loop.index }}" /></td>
                    <td>
                        {% with is_official = row['official']%}

                        {% if is_official %}
                            <input type="checkbox" name="new_is_official_cb_{{ loop.index }}" onclick="return false;" checked>
                        {% else %}
                            <input type="checkbox" name="new_is_official_cb_{{ loop.index }}">
                        {% endif %}

                        {% endwith %}
                    </td>
                    <td>
                        <select name="new_type_{{loop.index}}">
                            {% with tag_type = row['type'] %}
                                {% for ty in types %}
                                    {% if ty == tag_type %}
                                        <option value="{{ ty }}" selected>{{ ty }}</option>
                                    {% else %}
                                        <option value="{{ ty }}">{{ ty }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </select>
                    </td>
                    <td>
                        <select name="new_color_{{loop.index}}">
                            {% with tag_color = row['color'] %}
                                {% for color in colors %}
                                    {% if color == tag_color %}
                                        <option value="{{ color }}" selected>{{ color }}</option>
                                    {% else %}
                                        <option value="{{ color }}">{{ color }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </select>
                    </td>
                    <td>
                        <select name="new_loc_{{loop.index}}">
                            {% with tag_loc = row['loc'] %}
                                {% for location in locations %}
                                    {% if location == tag_loc %}
                                        <option value="{{ location }}" selected>{{ location }}</option>
                                    {% else %}
                                        <option value="{{ location }}">{{ location }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </select>
                    </td>
                    <td><input type="date" name="new_date_on_{{ loop.index }}" value="{{ row['date_off'] }}"/></td>
                </tr>
            </table>
            </div>
            <br>
            <br>
            {% endfor %}
        </form>
    </div>
</div>



<script>
    function updateDivWidth() {

      var tableHolders = document.getElementsByClassName('table-holder'); // Get all elements with class 'table-holder'

      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.9);

      for (let i = 0; i < tableHolders.length; i++){

        // Get a reference to the div element
        var divElement = document.getElementById(tableHolders[i].id); // Replace 'yourDivId' with the actual ID of your div

        // Set the new width for the div
        divElement.style.width = newWidth + 'px';
      }
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>


{% endblock %}