{% extends "layouts/base.html" %}

{% block title%}
Mark At Stud
{% endblock %}


{% block content %}
<div class="container">
    <h1>Mark at Stud</h1>
    <form action="{{ url_for('app1.mark_for_stud') }}" method="post">
        <button type="submit" class="submit-button">Submit</button>
        <br>
        <table class="fl-table">
            <tr>
                <th></th>
                <th>Registration #</th>
                <th>Flock Prefix</th>
                <th>Name</th>
            </tr>
            {% for animal_id, reg_num, flock, name, official_tag, sex, birth_type, dob, coat_color in animals %}
            <tr>
                <td><input type="checkbox" name="cb_{{ loop.index }}"></td>
                <td><input type="text" name="regnum_{{ loop.index }}" value="{{ reg_num }}" readonly/></td>
                <td><input type="text" name="flock_{{ loop.index }}" value="{{ flock }}" readonly/></td>
                <td><input type="text" name="name_{{ loop.index }}" value="{{ name }}" readonly/></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}