{% extends "layouts/base.html" %}

{% block title%}
Transfers
{% endblock %}

{% block content %}
<div class="container">
    <form action="{{ url_for('app1.transfers') }}" method="post">
        <h1>Step 1 of 2: Animal Transfers</h1>
        <button type="submit" class="submit-button">Next</button>
        <br>
        <div>
            <div style="height:400px;overflow:auto;width:600px;" id="table-holder-1">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Select Animal</th>
                            <th>Registration #</th>
                            <th>Prefix</th>
                            <th>Name</th>
                            <th>Birth Date</th>
                            <th>Birth Type</th>
                            <th>Sex</th>
                            <th>Coat Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set extra_animal_info = [] %}
                        {% for animal_id, reg_num, prefix, name, official_tag, sex, birth_type, dob, coat_color in animals %}
                        <tr>
                            <td><input type="checkbox" name="cb_{{ loop.index }}"></td>
                            <td><input type="text" name="reg_num_{{ loop.index }}" value="{{ reg_num }}" readonly></td>
                            <td><input type="text" name="prefix_{{ loop.index }}" value="{{ prefix }}" readonly></td>
                            <td><input type="text" name="name_{{ loop.index }}" value="{{ name }}" readonly></td>
                            <td><input type="date" name="dob_{{ loop.index }}" value="{{ dob }}" readonly></td>
                            <td><input type="text" name="birth_type_{{ loop.index }}" value="{{ birth_type }}" readonly></td>
                            <td><input type="text" name="sex_{{ loop.index }}" value="{{ sex }}" readonly></td>
                            <td><input type="text" name="coat_color_{{ loop.index }}" value="{{ coat_color }}" readonly></td>
                        </tr>
                        {# do !!!! NOT !!!! remove this line below. It looks like a comment but actually runs jinja2 code to save the animal_id's #}
<!--                        {{ extra_animal_info.append(animal_id) }}-->

                        {% endfor %}
                    </tbody>
                </table>
                {% for x in extra_animal_info %}
                <input type="hidden" name="animal_id_{{ loop.index }}" value="{{ x }}">
                {% endfor %}
            </div>

            <br>
            <br>
            <h2>Please select the buyer. If this is a new buyer leave this section blank; you will enter their information on the next screen</h2>
            <br>

            <button type="button" id="unselectButton" onclick="unselectAllBuyers()" class="submit-button">Unselect Buyer</button>
            <br>

            <div style="height:400px;overflow:auto;width:600px;" id="table-holder-2">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Buyer</th>
                            <th>Membership Number</th>
                            <th>Flock Prefix</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Membership Region</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id_ownerregistrationid, membership_number, flock_prefix, id_contactid, company_companyid, contact_first_name, contact_last_name, dues_paid_until, membership_region in members %}
                        <tr class="data-row" data-flock_prefix = "{{ flock_prefix }}" data-firstname="{{ contact_first_name }}" data-lastname="{{ contact_first_name }}" data-memnum="{{ membership_number }}" data-region="{{ membership_region }}">
                            <td><input type="radio" name="buyer_{{ loop.index }}" onchange="handleBuyerSelection(this)"></td>
                            <td><input type="text" name="memnum_{{ loop.index }}" value="{{ membership_number }}" readonly></td>
                            <td><input type="text" name="flock_prefix_{{ loop.indx }}" value="{{ flock_prefix }}" readonly></td>
                            <td><input type="text" name="fn_{{ loop.index }}" value="{{ contact_first_name }}" readonly></td>
                            <td><input type="text" name="ln_{{ loop.index }}" value="{{ contact_last_name }}" readonly></td>
                            <td><input type="text" name="region_{{ loop.index }}" value="{{ membership_region }}" readonly></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<script>
    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.9);

      // Get a reference to the div element
      var divElement1 = document.getElementById('table-holder-1');
      // Set the new width for the div
      divElement1.style.width = newWidth + 'px';

      // Get a reference to the div element
      var divElement2 = document.getElementById('table-holder-2');
      // Set the new width for the div
      divElement2.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);

    ///////////////////////////////////////////////////////////////////////////
    // Get a reference to the unselect button
    //const unselectButton = document.getElementById('unselectButton');

    // Add a click event listener to the unselect button
    //unselectButton.addEventListener('click', unselectAllRadios);

    // Function to unselect all radio buttons
    function unselectAllBuyers() {
        // Get all radio buttons within the table
        const radioButtons = document.querySelectorAll('.fl-table input[type="radio"]');

        // Iterate over the radio buttons and set their checked property to false
        radioButtons.forEach((radio) => {
            radio.checked = false;
        });
    }
    ///////////////////////////////////////////////////////////////////////////////
    function handleBuyerSelection(selectedRadio) {

      var allRadios = Array.from(document.querySelectorAll('input[type="radio"][name^="buyer_"]'));

      allRadios.forEach(function(radio) {
        if (radio !== selectedRadio) {
          radio.checked = false;
        }
      });
    }
</script>
{% endblock %}