{% extends "layouts/base.html" %}

{% block title%}
Transfers
{% endblock %}

{% block content %}
<div class="container">
    <form action="{{ url_for('app1.transfers_verify') }}" method="post" onsubmit="return validateSubmission()">
        <h1>Step 2 of 2: Verify Animal Transfers</h1>
        <button type="submit" class="submit-button">Submit</button>
        <br>
        <div>
            {% with tbl_height = animals_length * 30 + 100 %}
            <div style="height:{{ tbl_height }}px;overflow:auto;width:600px;" id="table-holder-1">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Registration #</th>
                            <th>Prefix</th>
                            <th>Name</th>
                            <th>Birth Date</th>
                            <th>Birth Type</th>
                            <th>Sex</th>
                            <th>Coat Color</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set extra_animal_info = [] %}
                        {% for animal_id, reg_num, prefix, name, dob, birth_type, sex, coat_color in animals %}
                        <tr>
                            <td><input type="text" name="reg_num_{{ loop.index }}" value="{{ reg_num }}" readonly></td>
                            <td><input type="text" name="prefix_{{ loop.index }}" value="{{ prefix }}" readonly></td>
                            <td><input type="text" name="name_{{ loop.index }}" value="{{ name }}" readonly></td>
                            <td><input type="date" name="dob_{{ loop.index }}" value="{{ dob }}" readonly></td>
                            <td><input type="text" name="birth_type_{{ loop.index }}" value="{{ birth_type }}" readonly></td>
                            <td><input type="text" name="sex_{{ loop.index }}" value="{{ sex }}" readonly></td>
                            <td><input type="text" name="coat_color_{{ loop.index }}" value="{{ coat_color }}" readonly></td>
                        </tr>

                    {# dont remove this line below!! #}
                        <!--                        {{ extra_animal_info.append(animal_id) }}-->
                    {# dont remove this line above!! #}

                        {% endfor %}

                    </tbody>
                </table>
                {# hide the animal_id but keep it on the page as we do not want the user seeing it but need it still #}
                {% for x in extra_animal_info %}
                <input type="hidden" name="animal_id_{{ loop.index }}" value="{{ x }}">
                {% endfor %}
            </div>
            {% endwith %}

            <br>
            <table class="simpletable">
                <tr>
                    <td>Date Animals Sold:</td>
                    <td><input type="date" name="date-animals-sold" id="date-animals-sold"></td>
                </tr>
                <tr>
                    <td>Date Animals Moved:</td>
                    <td><input type="date" name="date-animals-moved" id="date-animals-moved"></td>
                </tr>
            </table>
            <br>



            {# if a buyer already exists below #}


            {% if buyer %}
                <div style="height:100px;overflow:auto;width:600px;" id="table-holder-2">
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th>Membership Number</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Membership Region</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with mem_num, fn, ln, region = buyer %}
                            <tr class="data-row" >
                                <td><input type="text" name="buyer_memnum" value="{{ mem_num }}" readonly></td>
                                <td><input type="text" name="buyer_fn" value="{{ fn }}" readonly></td>
                                <td><input type="text" name="buyer_ln" value="{{ ln }}" readonly></td>
                                <td><input type="text" name="buyer_region" value="{{ region }}" readonly></td>
                            </tr>
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
            {% else %}





            {# below is if there is a new buyer #}




            <h2 style="text-align: center;">Physical Address</h2>
            <table class="simpletable">
                <tr>
                    <td>First Name *</td>
                    <td><input type="text" name="nb_fn" id="nb_fn" size="50"></td>
                </tr>
                <tr>
                    <td>Last Name *</td>
                    <td><input type="text" name="nb_ln" id="nb_ln" size="50"></td>
                </tr>
                <tr>
                    <td>Company</td>
                    <td><input type="text" name="nb_company" id="nb_company" size="50"></td>
                </tr>
                <tr>
                    <td>Address 1 *</td>
                    <td><input type="text" name="nb_address_1" id="nb_address_1" size="50"></td>
                </tr>
                <tr>
                    <td>Address 2</td>
                    <td><input type="text" name="nb_address_2" id="nb_address_2" size="50"></td>
                </tr>
                <tr>
                    <td>City *</td>
                    <td><input type="text" name="nb_city" id="nb_city" size="50"></td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>
                        <select name="nb_state" id="nb_state" style="width:50;">
                            {% for st in states %}
                            <option value="{{ st }}">{{ st }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Post Code *</td>
                    <td><input type="text" name="nb_postcode" id="nb_postcode" size="50"></td>
                </tr>
                <tr>
                    <td>Federal Scrapie ID (US)</td>
                    <td><input type="text" name="nb_fsid" id="nb_fsid" size="50"></td>
                </tr>
                <tr>
                    <td>Federal Premise ID</td>
                    <td><input type="text" name="nb_fpid" id="nb_fpid" size="50"></td>
                </tr>
                <tr>
                    <td>State Premise ID</td>
                    <td><input type="text" name="nb_spid" id="nb_spid" size="50"></td>
                </tr>
                <tr>
                    <td>Premise Longitude (Decimal Degrees)</td>
                    <td><input type="number" name="nb_lon_dd" id="nb_lon_dd" min="-180" step="0.00001" max="180"  size="50"></td>
                </tr>
                <tr>
                    <td>Premise Latitude (Decimal Degrees)</td>
                    <td><input type="number" name="nb_lat_dd" id="nb_lat_dd" min="-90" step="0.00001" max="90" size="50"></td>
                </tr>
                <tr>
                    <td>Primary Phone *</td>
                    <td><input type="text" name="nb_primary_phone" id="nb_primary_phone" size="50"></td>
                </tr>
                <tr>
                    <td>Mobile Phone</td>
                    <td><input type="text" name="nb_mobile_phone" id="nb_mobile_phone" size="50"></td>
                </tr>
                <tr>
                    <td>Primary Email</td>
                    <td><input type="text" name="nb_email" id="nb_email" size="50"></td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td><input type="text" name="nb_website" id="nb_website" size="50"></td>
                </tr>
            </table>

            <h2 style="text-align: center;">Mailing Address</h2>
            <br>
            <label for="isMailingSame">Same Mailing Address</label>
            <input type="checkbox" id="isMailingSame" style="horizontal-align: center; vertical-align: center; position: relative;">
            <br>
            <table class="simpletable">
                <tr>
                    <td>Address 1</td>
                    <td><input type="text" name="nb_mailing_address_1" id="nb_mailing_address_1" size="50"></td>
                </tr>
                <tr>
                    <td>Address 2</td>
                    <td><input type="text" name="nb_mailing_address_2" id="nb_mailing_address_2" size="50"></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><input type="text" name="nb_mailing_city" id="nb_mailing_city" size="50"></td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>
                        <select name="nb_state" id="nb_mailing_state" style="width:50;">
                            {% for st in states %}
                            <option value="{{ st }}">{{ st }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Post Code</td>
                    <td><input type="text" name="nb_mailing_postcode" id="nb_mailing_postcode" size="50"></td>
                </tr>
            </table>

            <script>

            </script>

            {% endif %}
        </div>
    </form>
</div>

<script>

    function elementExists(elementId) {
        return document.getElementById(elementId) !== null;
    }

    function validateSubmission() {
        var dateSold = document.getElementById("date-animals-sold").value;
        var dateMoved = document.getElementById("date-animals-moved").value;
        var currentDate = new Date().toISOString().split("T")[0]; // Get current date in "YYYY-MM-DD" format

        if (dateSold === "" || dateMoved === "") {
            alert("Please provide dates for the Date Sold and Date Moved.");
            return false;
        }

        if (dateSold > currentDate) {
            alert("The 'Date Animals Sold' cannot be later than the current date.");
            return false;
        }

        ////////////////////////////////////////////////////////////////////////////////////

        // OOGIE NOTE:
        // check if the element exists, as it won't exist if it is NOT a new buyer
        // for each check, get the element string via:
        // `document.getElementById("nb_field_name").value`  where `nb_field_name` is something like "nb_primary_phone"
        // or "nb_email" or "nb_website"
        // if the field does not match what you want, simply do an alert and return false as the others do

        // check to make sure nb_primary_phone exists
        if (elementExists("nb_primary_phone")) {

            // check to make sure it is filled out
            if (document.getElementById("nb_primary_phone").value != "") {

                // Get the phone number input value
                const phoneNumber = document.getElementById("nb_primary_phone").value;

                // Define the regex pattern for the format XXX-XXX-XXXX
                const phoneRegex = /^\d{3}-\d{3}-\d{4}$/;

                // Test if the phone number matches the pattern
                if (!phoneRegex.test(phoneNumber)) {
                    alert("Please fill out new buyer phone.")
                    return false;
                }
            }
        }

        // check to make sure nb_mobile_phone exists
        if (elementExists("nb_mobile_phone")) {

            // check to make sure it is filled out
            if (document.getElementById("nb_mobile_phone").value != "") {

                // Get the phone number input value
                const phoneNumber = document.getElementById("nb_mobile_phone").value;

                // Define the regex pattern for the format XXX-XXX-XXXX
                const phoneRegex = /^\d{3}-\d{3}-\d{4}$/;

                // Test if the phone number matches the pattern
                if (!phoneRegex.test(phoneNumber)) {
                    alert("Please fill out new buyer mobile phone.")
                    return false;
                }
            }
        }

        if (elementExists("nb_address_1")) {

            // check to make sure it is filled out
            if (document.getElementById("nb_address_1").value === "") {
                alert("Please fill out new buyer address.")
                return false;
            }
        }
        ////////////////////////////////////////////////////////////////////////////////////

        // All validations passed, continue with the submission
        return true;
    }

    function validateInput() {

        // TODO: validate input better
        var nbFnInput = document.getElementById('nb_fn');
        if (nbFnInput.value.trim() === '') { return false; }

        var nbLnInput = document.getElementById('nb_ln');
        if (nbLnInput.value.trim() === '') { return false; }

    }


    function validateForm() {
      var inputs = document.querySelectorAll('.simpletable input[type="text"]');
      var isValid = true;

      for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].value.trim() === '') {
          isValid = false;
          inputs[i].classList.add('invalid');
        } else {
          inputs[i].classList.remove('invalid');
        }
      }

      if (!isValid) {
        alert('Please fill out all fields.');
      }

      return isValid;
    }
</script>

<script>
    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.9);

      // Get a reference to the div element
      var divElement1 = document.getElementById('table-holder-1');
      // Set the new width for the div
      divElement1.style.width = newWidth + 'px';

      // Get a reference to the div element
      var divElement2 = document.getElementById('table-holder-2');
      // Set the new width for the div
      divElement2.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>
{% endblock %}