{% extends "layouts/base.html" %}

{% block title%}
{{ oa }} Pedigree
{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
  /*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li a[female] {
    background-color: pink;
}

.tree li a[male] {
    background-color: lightblue;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
</style>

<div class="container">
    <div class="tree">
        <ul>
            <li>
                {% if oa_sex_id == 1 %}
                <a male href="/pedigree/{{ oa_id }}">{{ oa }}<br>Registration #: {{ oa_rn }}<br>DOB: {{ oa_dob }}</a>
                {% elif oa_sex_id == 2 %}
                <a female href="/pedigree/{{ oa_id }}">{{ oa }}<br>Registration #: {{ oa_rn }}<br>DOB: {{ oa_dob }}</a>
                {% else %}
                <a href="/pedigree/{{ oa_id }}">{{ oa }}<br>Registration #: {{ oa_rn }}<br>DOB: {{ oa_dob }}</a>
                {% endif %}
                <ul>
                    <li>
                        <a male href="/pedigree/{{ oa_s_id }}">{{ oa_s }}<br>Registration #: {{ oa_s_rn }}<br>DOB: {{ oa_s_dob }}</a>
                        <ul>
                            <li>
                                <a male href="/pedigree/{{ oa_ss_id }}">{{ oa_ss }}<br>Registration #: {{ oa_ss_rn }}<br>DOB: {{ oa_ss_dob }}</a>
                                <ul>
                                  <li>
                                    <a male href="/pedigree/{{ oa_sss_id }}">{{ oa_sss }}<br>Registration #: {{ oa_sss_rn }}<br>DOB: {{ oa_sss_dob }}</a>
                                  </li>
                                  <li>
                                    <a female href="/pedigree/{{ oa_ssd_id }}">{{ oa_ssd }}<br>Registration #: {{ oa_ssd_rn }}<br>DOB: {{ oa_ssd_dob }}</a>
                                  </li>
                                </ul>
                            </li>
                            <li>
                                <a female href="/pedigree/{{ oa_sd_id }}">{{ oa_sd }}<br>Registration #: {{ oa_sd_rn }}<br>DOB: {{ oa_sd_dob }}</a>
                                <ul>
                                  <li>
                                    <a male href="/pedigree/{{ oa_sds_id }}">{{ oa_sds }}<br>Registration #: {{ oa_sds_rn }}<br>DOB: {{ oa_sds_dob }}</a>
                                  </li>
                                  <li>
                                    <a female href="/pedigree/{{ oa_sdd_id }}">{{ oa_sdd }}<br>Registration #: {{ oa_sdd_rn }}<br>DOB: {{ oa_sdd_dob }}</a>
                                  </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a female href="/pedigree/{{ oa_d_id }}">{{ oa_d }}<br>Registration #: {{ oa_d_rn }}<br>DOB: {{ oa_d_dob }}</a>
                        <ul>
                            <li>
                                <a male href="/pedigree/{{ oa_ds_id }}">{{ oa_ds }}<br>Registration #: {{ oa_ds_rn }}<br>DOB: {{ oa_ds_dob }}</a>
                                <ul>
                                  <li>
                                    <a male href="/pedigree/{{ oa_dss_id }}">{{ oa_dss }}<br>Registration #: {{ oa_dss_rn }}<br>DOB: {{ oa_dss_dob }}</a>
                                  </li>
                                  <li>
                                    <a female href="/pedigree/{{ oa_dsd_id }}">{{ oa_dsd }}<br>Registration #: {{ oa_dsd_rn }}<br>DOB: {{ oa_dsd_dob }}</a>
                                  </li>
                                </ul>
                            </li>
                            <li>
                                <a female href="/pedigree/{{ oa_dd_id }}">{{ oa_dd }}<br>Registration #: {{ oa_dd_rn }}<br>DOB: {{ oa_dd_dob }}</a>
                                <ul>
                                  <li>
                                    <a male href="/pedigree/{{ oa_dds_id }}">{{ oa_dds }}<br>Registration #: {{ oa_dds_rn }}<br>DOB: {{ oa_dds_dob }}</a>
                                  </li>
                                  <li>
                                      {% if oa_ddd_id != 'N/A' %}
                                    <a female href="/pedigree/{{ oa_ddd_id }}">{{ oa_ddd }}<br>Registration #: {{ oa_ddd_rn }}<br>DOB: {{ oa_ddd_dob }}</a>
                                      {% else %}
                                      <a female href="/pedigree/{{ oa_ddd_id }}" class="inactiveLink">{{ oa_ddd }}<br>Registration #: {{ oa_ddd_rn }}<br>DOB: {{ oa_ddd_dob }}</a>
                                      {% endif %}
                                  </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<br><br>
<div class="container">
    <table class="fl-table">
        <tr>
            <th>Pedigree</th>
            <th>Registration Number</th>
            <th>Flock Prefix</th>
            <th>Animal Name</th>
            <th>Sex</th>
            <th>Status</th>
            <th>Birthdate</th>
            <th>Sire Name</th>
            <th>Dam Name</th>
            <th>Coat Color</th>
            <th>Breeder's Name</th>
            <th>Owner's Name</th>
        </tr>
        {% for child_id, animal_name, birth_date, death_date, sex, reg_num, flock_prefix, sire, dam, coat_color, breeder, owner in offspring_of_animal %}
        <tr>
            <td><button type="submit" class="submit-button" id="pedigree_{{ loop.index }}">Pedigree</button></td>
            <td>{{ reg_num }}</td>
            <td>{{ flock_prefix }}</td>
            <td>{{ animal_name }}</td>
            <td>{{ sex }}</td>
            <td>
                {% if death_date == "" %}
                    Alive
                {% else %}
                    Dead
                {% endif %}
            </td>
            <td>{{ birth_date }}</td>
            <td>{{ sire }}</td>
            <td>{{ dam }}</td>
            <td>{{ coat_color }}</td>
            <td>{{ breeder }}</td>
            <td>{{ owner }}</td>
        </tr>
        <script>
            $(document).ready(function() {
                $("#pedigree_{{ loop.index }}").click(function() {
                    window.open("/pedigree/{{ child_id }}", "_blank");
                });
            });
        </script>
        {% endfor %}
    </table>
</div>
<br>

{% endblock %}