{% extends "layouts/base.html" %}

{% block title%}
Home
{% endblock %}

{% block content %}
<div class="container">
  <section>
    <div id="notifications-box" class="child">
      <ul id="notifications-list">
      {% for m in get_flashed_messages() %}
        <li>{{ m }}</li>
      {% endfor %}
      </ul>
    </div>
  </section>
</div>
<br>
<div class="container">
  <section>
    <div class="container">
      <h1>Welcome {{ name }}!</h1>
    </div>
  </section>
</div>
{% endblock %}