{% extends "layouts/base.html" %}

{% block title%}
Member Search
{% endblock %}

{% block content %}
{# this script line gets the jquery library to use for this page #}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{# script for filtering table by sex #}
<script>
    function filterTable() {
        // get filters
        var fnameFilter = document.getElementById("fname-filter").value.toLowerCase();
        var lastnameFilter = document.getElementById("lastname-filter").value.toLowerCase();
        var memNumFilter = document.getElementById("member-number-filter").value.toLowerCase();
        var regionFilter = document.getElementById("region-filter").value.toLowerCase();

        var tableRows = document.getElementsByClassName("data-row");

        // Meat and taters' of the filtering
        for (var i = 0; i < tableRows.length; i++) {
            var rowFirstName = tableRows[i].dataset.firstname.toLowerCase();
            var rowLastName = tableRows[i].dataset.lastname.toLowerCase();
            var rowMemNum = tableRows[i].dataset.memnum.toLowerCase();
            var rowRegion = tableRows[i].dataset.region.toLowerCase();

            var fnameMatch = rowFirstName.includes(fnameFilter);
            var lastnameMatch = rowLastName.includes(lastnameFilter);
            var memNumMatch = rowMemNum.includes(memNumFilter);
            var regionMatch = rowRegion.includes(regionFilter);

            if (fnameMatch && lastnameMatch && memNumMatch && regionMatch) {
                tableRows[i].style.display = "table-row";
            } else {
                tableRows[i].style.display = "none";
            }
        }
    }
</script>
<style>
        .my-div {
            padding: 20px; /* Apply 20 pixels of padding on all sides */
        }
</style>
<div class="my-div">
    {# here is where the search parameters are #}
    <label for="fname-filter">Filter by First Name:</label>
    <input type="text" id="fname-filter" oninput="filterTable()">
    <br>
    <br>
    <label for="lastname-filter">Filter by Last Name:</label>
    <input type="text" id="lastname-filter" oninput="filterTable()">
    <br>
    <br>
    <label for="member-number-filter">Filter by Member Number:</label>
    <input type="text" id="member-number-filter" oninput="filterTable()">
    <br>
    <br>
    <label for="region-filter">Filter by Region:</label>
    <input type="text" id="region-filter" oninput="filterTable()">
    <br>
    <br>
</div>
<div class="container">
    {# end search parameters #}
    <table class="fl-table">
        <tr>
            <th>Membership Number</th>
            <th>Flock Prefix</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Membership Region</th>
        </tr>

        {% for id_ownerregistrationid, membership_number, flock_prefix, id_contactid, company_companyid, contact_first_name, contact_last_name, dues_paid_until, membership_region in members %}
        <tr class="data-row" data-flock_prefix = "{{ flock_prefix }}" data-firstname="{{ contact_first_name }}" data-lastname="{{ contact_last_name }}" data-memnum="{{ membership_number }}" data-region="{{ membership_region }}">
                <td><input type="text" name="memnum_{{ loop.indx }}" value="{{ membership_number }}" readonly></td>
                <td><input type="text" name="flock_prefix_{{ loop.indx }}" value="{{ flock_prefix }}" readonly></td>
                <td><input type="text" name="fn_{{ loop.indx }}" value="{{ contact_first_name }}" readonly></td>
                <td><input type="text" name="ln_{{ loop.index }}" value="{{ contact_last_name }}" readonly></td>
                <td><input type="text" name="region_{{ loop.index }}" value="{{ membership_region }}" readonly></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}