{% extends "layouts/base.html" %}

{% block title%}
Mark For Sale Staging
{% endblock %}


{% block content %}
<div class="container">
    <form action="{{ url_for('app1.mark_for_sale') }}" method="post">
        <table class="fl-table">
            <tr>
                <th></th>
                <th>Flock Prefix</th>
                <th>Name</th>
                <th>Sex</th>
                <th>Registration #</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td><input type="checkbox" name="cb_{{ loop.index }}"></td>

                <td><input type="text" name="flock_{{ loop.index }}" value="{{ prefix }}" readonly></td>
                {% with name = row["name"] %}
                <td><input type="text" name="name_{{ loop.index }}" value="{{ name }}" readonly></td>
                {% endwith %}
              
                <td><input type="text" name="sex_{{ loop.index }}" value="{{ sex }}" readonly></td>

                <td><input type="text" name="regnum_{{ loop.index }}" value="REGNUMFIXME" readonly></td>

            </tr>
            {% endfor %
        </table>
      <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}