{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
    <div class="column is-4 is-offset-4">
        <div>
            <h3 class="title">Login</h3>
            <div class="box">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                    <br>
                    {% endif %}
                {% endwith %}
                <form action="{{ url_for('auth.login') }}" method="POST">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="email" placeholder="Membership Number" autofocus="">
                        </div>
                    </div>
                    <br>
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="submit-button">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}