{% extends "layouts/base.html" %}

{% block title%}
Registration
{% endblock %}

{% block content %}
<div class="container">
    <table class="fl-table">
            <tr>
                <th></th>
                <th>Flock</th>
                <th>PLACEHOLDER TABLE THIS WILL CHANGE</th>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Sex</th>
                <th>Registration #</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td></td>
                <td><input type="text"></td>
            </tr>
        </table>
</div>
{% endblock %}