{% extends "layouts/base.html" %}

{% block title%}
Animal Search
{% endblock %}

{% block content %}
{# this script line gets the jquery library to use for this page #}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{# script for filtering table by sex #}
{# <script>
    function filterTable() {
        // get filters
        var sexFilter = document.getElementById("sex-filter").value;
        var nameFilter = document.getElementById("name-filter").value.toLowerCase();
        var regNumFilter = document.getElementById("regNum-filter").value.toLowerCase();
        var flockFilter = document.getElementById("flock-filter").value.toLowerCase();
        var coatFilter = document.getElementById("coat-filter").value.toLowerCase();

        var tableRows = document.getElementsByClassName("data-row");

        // Meat and taters' of the filtering
        for (var i = 0; i < tableRows.length; i++) {
            var rowName = tableRows[i].dataset.name.toLowerCase();
            var rowRegNum = tableRows[i].dataset.regnum.toLowerCase();
            var rowSex = tableRows[i].dataset.sex;
            var rowFlock = tableRows[i].dataset.flock.toLowerCase();
            var rowCoat = tableRows[i].dataset.coat.toLowerCase();

            var nameMatch = rowName.includes(nameFilter);
            var regNumMatch = rowRegNum.includes(regNumFilter);
            var flockMatch = rowFlock.includes(flockFilter);
            var coatMatch = rowCoat.includes(coatFilter);

            // check if sex matches
            var sexMatch;
            if (sexFilter === "all" || sexFilter === rowSex) {
                sexMatch = true;
            } else {
                sexMatch = false;
            }

            if (nameMatch && regNumMatch && sexMatch && flockMatch && coatMatch) {
                tableRows[i].style.display = "table-row";
            } else {
                tableRows[i].style.display = "none";
            }
        }
    }
</script> #}
<style>
        .my-div {
            padding: 20px; /* Apply 20 pixels of padding on all sides */
        }
</style>
<div class="my-div">
        {# here is where the search parameters are #}
    <form action="{{ url_for('app1.animal_search') }}" method="post">
        <label for="name-filter">Filter by Name:</label>
        {% if name_filter_value %}
            <input type="text" id="name-filter" name="name-filter" oninput="filterTable()" value="{{ name_filter_value }}">
        {% else %}
            <input type="text" id="name-filter" name="name-filter" oninput="filterTable()">
        {% endif %}
        <br>
        <br>
        <label for="regNum-filter">Filter by Registration Number:</label>
        {% if reg_num_filter_value %}
            <input type="text" id="regNum-filter" name="regNum-filter" oninput="filterTable()" value="{{ reg_num_filter_value }}">
        {% else %}
            <input type="text" id="regNum-filter" name="regNum-filter" oninput="filterTable()" value="{{ reg_num_filter_value }}">
        {% endif %}
        <br>
        <br>
        <label for="flock-filter">Filter by Flock Prefix:</label>
        {% if flock_filter_value %}
            <input type="text" id="flock-filter" name="flock-filter" oninput="filterTable()" value="{{ flock_filter_value }}">
        {% else %}
            <input type="text" id="flock-filter" name="flock-filter" oninput="filterTable()">
        {% endif %}
        <br>
<!--        <br>-->
<!--        <label for="owner-filter">Filter by Owner Member Number:</label>-->
<!--        {% if flock_filter_value %}-->
<!--            <input type="text" id="owner-filter" name="owner-filter" oninput="filterTable()" value="{{ owner }}">-->
<!--        {% else %}-->
<!--            <input type="text" id="owner-filter" name="owner-filter" oninput="filterTable()">-->
<!--        {% endif %}-->
<!--        <br>-->
<!--        <br>-->
        <label for="coat-filter">Filter by Coat Color:</label>
        <select name="coat-filter">
            <option id="coat-filter" name="coat-filter" value="Any" oninput="filterTable()" selected>Any</option>
            {% for coat_color in coat_colors %}
                {% if coat_color.lower() == coat_color_filter_value.lower() %}
                <option id="coat-filter" name="coat-filter" value="{{ coat_color }}" oninput="filterTable()" selected>{{ coat_color }}</option>
                {% else %}
                <option id="coat-filter" name="coat-filter" value="{{ coat_color }}" oninput="filterTable()">{{ coat_color }}</option>
                {% endif %}
            {% endfor %}
        </select>

        {# filter by sex #}
        <br>
        <br>
        <label for="sex-filter">Filter by Sex:</label>

        <select id="sex-filter" name="sex-filter">
            <option value="all">All</option>
            {% for sex in sexes %}
                {% if sex == sex_filter %}
                <option value="{{ sex }}" selected>{{ sex }}</option>
                {% else %}
                <option value="{{ sex }}">{{ sex }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <br>
        <br>
        {# choose all animals or dead animals #}
        <div>
            <label for="all_animals">Search All Animals (including dead)</label>
            <input type="checkbox" name="all_animals" id="all_animals" unchecked>
        </div>

        <br>
        <br>
        <button type="submit" class="submit-button" id="search">Search</button>
    </form>
</div>
{% if err_message %}
    <div>
        <h1>{{ err_message }}</h1>
        <br>
    </div>
    {% endif %}
<div class="container">
    {# end search parameters #}
    <div style="overflow:auto;width:800px;height:400px;" id="table-holder">
        {% if animals %}
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Pedigree</th>
                    <th>Registration #</th>
                    <th>Flock</th>
                    <th>Name</th>
                    <th>Birth date</th>
                    <th>Death date</th>
                    <th>Sex</th>
                    <th>Coat Color</th>
                </tr>
            </thead>
            <tbody>

            {% for animal_id, reg_num, prefix, name, birth_date, death_date, sex_name, coat_color in animals %}
                <tr class="data-row" data-name="{{ name }}" data-regNum="{{ reg_num }}" data-flock="{{ prefix }}" data-coat="COAT_COLOR">
                    <td><button type="submit" class="submit-button" id="pedigree_{{ loop.index }}">Pedigree</button></td>
                    <td><input type="text" name="regnum_{{ loop.indx }}" value="{{ reg_num }}" readonly></td>
                    <td><input type="text" name="flock_{{ loop.index }}" value="{{ prefix }}" readonly></td>
                    <td><input type="text" name="name_{{ loop.index }}" value="{{ name }}" readonly></td>
                    <td><input type="date" name="dob_{{ loop.index }}" value="{{ birth_date }}" readonly></td>
                    {% if death_date == ''%}
                        <td><input type="date" name="dod_{{ loop.index }}" value="Alive" readonly></td>
                    {% else %}
                        <td><input type="date" name="dod_{{ loop.index }}" value="{{ death_date }}" readonly></td>
                    {% endif %}
                    <td><input type="text" name="sex_{{ loop.index }}" value="{{ sex_name }}" readonly></td>
                    <td><input type="text" name="coat_color_{{ loop.index }}" value="{{ coat_color }}" readonly></td>
                </tr>
                <script>
                    $(document).ready(function() {
                        $("#pedigree_{{ loop.index }}").click(function() {
                            window.open("/pedigree/{{ animal_id }}", "_blank");
                        });
                    });
                </script>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>Please Enter Search Parameters</h1>
        {% endif %}
    </div>
</div>

<script>
    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.9);

      // Get a reference to the div element
      var divElement = document.getElementById('table-holder'); // Replace 'yourDivId' with the actual ID of your div

      // Set the new width for the div
      divElement.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>
{% endblock %}