<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnimalTrakker 404</title>
</head>
<body>
  <img src="{{ url_for('static', filename='at_logo_small.png') }}" alt="logo"/>
  <h1>404 - Page not found</h1>
  <h2>The request resource does not exist</h2>
</body>
</html>