<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnimalTrakker 404</title>
</head>
<body>
  <img src="{{ url_for('static', filename='at_logo_small.png') }}" alt="logo"/>
  <h1>500 - Internal service error</h1>
  <h2>Something on our end broke.</h2>
</body>
</html>