{% extends "layouts/base.html" %}

{% block title%}
My Flock
{% endblock %}


{% block content %}
<div class="container">
    <div.
        <form action="{{ url_for('app1.my_flock') }}" method="post" onsubmit="return validateFormAndDates()" id="flockForm">

            <br>
            <div style="overflow:auto;width:800px;height:500px;" id="table-holder">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Registration #</th>
                            <th>Prefix</th>
                            <th>Name</th>
                            <th>Official ID</th>
                            <th>Farm ID</th>
                            <th>Sex</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set extra_animal_info = [] %}
                        {% for animal_id, reg_num, flock_prefix, animal_name, dob, birth_type, sex, fed_id_num,
                        fed_id_color, fed_id_location, farm_id, farm_color, farm_location, coat_color in animal_info %}
                        <tr>
                            <input type="hidden" name="animal_id_{{ loop.index }}" value="{{ animal_id }}" readonly/>
                            <td><input type="text" name="regnum_{{ loop.index }}" value="{{ reg_num }}" readonly></td>
                            <td><input type="text" name="prefix_{{ loop.index }}" value="{{ flock_prefix }}" readonly></td>
                            <td><input type="text" name="name_{{ loop.index }}" value="{{ animal_name }}" readonly></td>
                            <td><input type="text" name="fed_id_num_{{ loop.index }}" value="{{ fed_id_num }}" readonly></td>
                            <td><input type="text" name="farm_id_{{ loop.index }}" value="{{ farm_id }}" readonly></td>
                            <td><input type="text" name="sex_{{ loop.index }}" value="{{ sex }}" readonly></td>
                        </tr>
                                                {# do !!!! NOT !!!! remove this line below. It looks like a comment but actually runs jinja2 code to save the animal_id's #}
<!--                        {{ extra_animal_info.append(animal_id) }}-->

                        {% endfor %}
                    </tbody>
                </table>
                {% for x in extra_animal_info %}
                <input type="hidden" name="animal_id_{{ loop.index }}" value="{{ x }}">
                {% endfor %}
            </div>
        </form>
    </div>
</div>

<script>
  function validateFormAndDates() {
    var isFormValid = validateForm();
    var areDatesValid = validateDates();

    return isFormValid && areDatesValid;
  }

  function validateForm() {
    var form = document.getElementById('deathForm');
    var checkboxes = form.querySelectorAll('input[type="checkbox"]');
    var isChecked = false;

    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        isChecked = true;
        break;
      }
    }

    if (!isChecked) {
      alert("Please check at least one checkbox.");
      return false; // Prevent form submission
    }

    return true; // Allow form submission
  }

  function validateDates() {
    var form = document.getElementById('deathForm');
    var dateInputs = form.querySelectorAll('input[type="date"]');

    for (var i = 0; i < dateInputs.length; i++) {
      var dateInput = dateInputs[i];
      var enteredDate = new Date(dateInput.value);
      var currentDate = new Date();

      // Set the time portion of the current date to midnight
      currentDate.setHours(0, 0, 0, 0);

      if (enteredDate > currentDate) {
        alert("Invalid date! Date must not be greater than the current day.");
        return false; // Prevent form submission
      }
    }

    return true; // Allow form submission
  }

    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.9);

      // Get a reference to the div element
      var divElement = document.getElementById('table-holder'); // Replace 'yourDivId' with the actual ID of your div

      // Set the new width for the div
      divElement.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>
{% endblock %}