{% extends "layouts/base.html" %}

{% block title%}
Deaths
{% endblock %}


{% block content %}
<div class="container">
    <div style="overflow:auto;width:800px;" id="table-holder">
        <form action="{{ url_for('app1.change_contact_info') }}" method="post">
            <button type="submit" class="submit-button">Next</button>
            <br>
            <br>
            <table class="fl-table">
                <tr>
                    <th>Update</th>
                    <th>Contact First Name</th>
                    <th>Contact Middle Name</th>
                    <th>Contact Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Premise Number</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>State(fixme)</th>
                    <th>Postcode</th>
                </tr>
                {% for id_owner_registration_id, id_contact_title_id, contact_first_name, contact_middle_name,
                       contact_last_name, phone, phone_type, email, email_type, premise_id, premise_number,
                       premise_address_1, premise_address_2, premise_city, premise_state,
                       premise_postcode, premise_id_county_id, premise_id_country_id in user_info %}
                {% with row_idx = loop.index %}
                <tr>
                    <td><input type="checkbox" name="cb_{{ loop.index }}"></td>
                    <td><input type="text" value="{{ contact_first_name }}" name="contact_first_name_{{ loop.index }}" readonly></td>
                    <td><input type="text" value="{{ contact_middle_name }}" name="contact_middle_name_{{ loop.index }}" readonly></td>
                    <td><input type="text" value="{{ contact_last_name }}" name="contact_last_name_{{ loop.index }}" readonly></td>
                    <td><input type="text" value="{{ phone }}" name="phone_{{ loop.index }}" readonly></td>
                    <td><input type="text" value="{{ email }}" name="email_{{ loop.index }}" readonly></td>
                    <td><input type="text" value="{{ premise_number }}" name="premise_number_{{ loop.index }}" readonly></td>
                    <td><input type="text" value="{{ premise_address_1 }}" name="address_1_{{ loop.index }}" readonly></td>
                    <td><input type="text" value="{{ premise_address_2 }}" name="address_2_{{ loop.index }}" readonly></td>
                    <td><input type="text" value="{{ premise_city }}" name="city_{{ loop.index }}" readonly></td>
                    <td>
                        {% for state_id, state_name in state_info %}
                            {% if state_id == premise_state %}
                                <input type="text" value="{{ state_name }}" name="state_{{ row_idx }}" readonly>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><input type="text" value="{{ premise_postcode }}" name="postcode_{{ loop.index }}" readonly></td>
                </tr>
                {% endwith %}
                {% endfor %}

            </table>
        </form>
    </div>
</div>

<script>
    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.9);

      // Get a reference to the div element
      var divElement = document.getElementById('table-holder'); // Replace 'yourDivId' with the actual ID of your div

      // Set the new width for the div
      divElement.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>
{% endblock %}