{% extends "layouts/base.html" %}

{% block title%}
Deaths
{% endblock %}


{% block content %}
<div class="container">
    <div style="overflow:auto;width:800px;height:600px;" id="table-holder">
        <form action="{{ url_for('app1.change_contact_info_verify') }}" method="post">
            <button type="submit" class="submit-button">Submit</button>
            <br>
            <br>
            {% for row in user_info %}
            <table class="fl-table">
                <tr>
                    <th>Old Contact First Name</th>
                    <th>Old Contact Middle Name</th>
                    <th>Old Contact Last Name</th>
                    <th>Old Phone</th>
                    <th>Old Email</th>
                    <th>Old Premise Number</th>
                    <th>Old Address 1</th>
                    <th>Old Address 2</th>
                    <th>Old City</th>
                    <th>Old State</th>
                    <th>Old Postcode</th>
                </tr>

                <tr>
                    {% with contact_first_name = row['first_name'] %}
                    <td><input type="text" value="{{ contact_first_name }}" name="old_contact_first_name_{{ loop.index }}" readonly></td>
                    {% endwith %}

                    {% with contact_middle_name = row['middle_name'] %}
                    <td><input type="text" value="{{ contact_middle_name }}" name="old_contact_middle_name_{{ loop.index }}" readonly></td>
                    {% endwith %}

                    {% with contact_last_name = row['last_name'] %}
                    <td><input type="text" value="{{ contact_last_name }}" name="old_contact_last_name_{{ loop.index }}" readonly></td>
                    {% endwith %}

                    {% with phone = row['phone'] %}
                    <td><input type="text" value="{{ phone }}" name="old_phone_{{ loop.index }}" readonly></td>
                    {% endwith %}

                    {% with email = row['email'] %}
                    <td><input type="text" value="{{ email }}" name="old_email_{{ loop.index }}" readonly></td>
                    {% endwith %}

                    {% with premise_number = row['premise_number'] %}
                    <td><input type="text" value="{{ premise_number }}" name="old_premise_number_{{ loop.index }}" readonly></td>
                    {% endwith %}

                    {% with premise_address_1 = row['address_1'] %}
                    <td><input type="text" value="{{ premise_address_1 }}" name="old_address_1_{{ loop.index }}" readonly></td>
                    {% endwith %}

                    {% with premise_address_2 = row['address_2'] %}
                    <td><input type="text" value="{{ premise_address_2 }}" name="old_address_2_{{ loop.index }}" readonly></td>
                    {% endwith %}

                    {% with city = row['city'] %}
                    <td><input type="text" value="{{ city }}" name="old_city_{{ loop.index }}" readonly></td>
                    {% endwith %}

                    {% with state = row['state'] %}
                    <td>
                        <input type="text" value="{{ state }}" name="old_state_{{ loop.index }}" readonly>
                    </td>
                    {% endwith %}

                    {% with postcode = row['postcode'] %}
                    <td><input type="text" value="{{ postcode }}" name="old_postcode_{{ loop.index }}"></td>
                    {% endwith %}
                </tr>
                <tr>
                    <th>New Contact First Name</th>
                    <th>New Contact Middle Name</th>
                    <th>New Contact Last Name</th>
                    <th>New Phone</th>
                    <th>New Email</th>
                     <th>New Premise Number</th>
                    <th>New Address 1</th>
                    <th>New Address 2</th>
                    <th>New City</th>
                    <th>New State</th>
                    <th>New Postcode</th>
                </tr>
                <tr>
                    <tr>
                    {% with contact_first_name = row['first_name'] %}
                    <td><input type="text" value="{{ contact_first_name }}" name="new_contact_first_name_{{ loop.index }}"></td>
                    {% endwith %}

                    {% with contact_middle_name = row['middle_name'] %}
                    <td><input type="text" value="{{ contact_middle_name }}" name="new_contact_middle_name_{{ loop.index }}"></td>
                    {% endwith %}

                    {% with contact_last_name = row['last_name'] %}
                    <td><input type="text" value="{{ contact_last_name }}" name="new_contact_last_name_{{ loop.index }}"></td>
                    {% endwith %}

                    {% with phone = row['phone'] %}
                    <td><input type="text" value="{{ phone }}" name="new_phone_{{ loop.index }}"></td>
                    {% endwith %}

                    {% with email = row['email'] %}
                    <td><input type="text" value="{{ email }}" name="new_email_{{ loop.index }}"></td>
                    {% endwith %}

                    {% with premise_number = row['premise_number'] %}
                    <td><input type="text" value="{{ premise_number }}" name="new_premise_number_{{ loop.index }}"></td>
                    {% endwith %}

                    {% with premise_address_1 = row['address_1'] %}
                    <td><input type="text" value="{{ premise_address_1 }}" name="new_address_1_{{ loop.index }}"></td>
                    {% endwith %}

                    {% with premise_address_2 = row['address_2'] %}
                    <td><input type="text" value="{{ premise_address_2 }}" name="new_address_2_{{ loop.index }}"></td>
                    {% endwith %}

                    {% with city = row['city'] %}
                    <td><input type="text" value="{{ city }}" name="new_city_{{ loop.index }}"></td>
                    {% endwith %}

                    {% with state = row['state'] %}
                    <td>
                        <select name="new_state_{{ loop.index }}">
                            {% for state_id, state_name in state_info %}
                                {% if state_name == state %}
                                    <option value="{{ state_name }}" selected>{{ state_name }}</option>
                                {% else %}
                                    <option value="{{ state_name }}">{{ state_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    {% endwith %}

                    {% with postcode = row['postcode'] %}
                    <td><input type="text" value="{{ postcode }}" name="new_postcode_{{ loop.index }}"></td>
                    {% endwith %}
                </tr>
            </table>
            <br>
            <br>
            <br>
            {% endfor %}
        </form>
    </div>
    <br>
</div>

<script>
    function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.9);

      // Get a reference to the div element
      var divElement = document.getElementById('table-holder'); // Replace 'yourDivId' with the actual ID of your div

      // Set the new width for the div
      divElement.style.width = newWidth + 'px';
    }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);
</script>
{% endblock %}