{% extends "layouts/base.html" %}

{% block title%}
Stage Deaths
{% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {% if messages[0] != "Welcome !" %}
            <h1>{{ messages[0] }}</h1>
        {% endif %}
    </div>
    <br>
    {% else %}
    <h1>Welcome {{ name }}!</h1>
    {% endif %}
  {% endwith %}
<div class="container">
    <div>
        <h1>Step 2 of 2 - Death Details</h1>
        <form action="{{ url_for('app1.death_verify') }}" method="post" id="deathStagingForm" onsubmit="return validateDates()">
            <button type="submit" class="submit-button">Submit</button>
            <br>
            <div style="overflow:auto;width:800px;" id="table-holder">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Prefix</th>
                            <th>Name</th>
                            <th>Registration #</th>
                            <th>Reason</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in deaths_for_staging %}
                        <tr>
                            {% with animal_id = row["animal_id"] %}
                            <input type="hidden" name="animal_id_{{ loop.index }}" value="{{ animal_id }}" readonly/>
                            {% endwith %}

                            {% with dod = row["dod"] %}
                            <td><input type="date" name="dod_{{ loop.index }}" value="{{ dod }}"></td>
                            {% endwith %}

                            {% with prefix = row["prefix"] %}
                            <td><input type="text" name="prefix_{{ loop.index }}" value="{{ prefix }}"></td>
                            {% endwith %}

                            {% with name = row["name"]%}
                            <td><input type="text" name="name_{{ loop.index }}" value="{{ name }}" readonly></td>
                            {% endwith %}
                            {% with regnum = row["regnum"]%}
                            <td><input type="text" name="regnum_{{ loop.index }}" value="{{ regnum }}" readonly></td>
                            {% endwith %}
                            {% with r = row["reason"]%}
                            <td>
                                    <select name="reason_{{ loop.index }}">
                                        <option value="--Select Reason--">--Select Reason--</option>
                                        {% for reason in death_reasons %}

                                        {% if r == reason %}
                                            <option value="{{ reason }}" selected>{{ reason }}</option>
                                        {% else %}
                                            <option value="{{ reason }}">{{ reason }}</option>
                                        {% endif %}

                                        {% endfor %}
                                    </select>
                                </td>
                            {% endwith %}
                            {% with notes = row["notes"]%}
                            <td><input type="text" name="notes_{{ loop.index }}" value="{{ notes }}"></td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <br>
            </div>
        </form>
    </div>
</div>

<script>
  function validateDates() {
    var form = document.getElementById('deathStagingForm');
    var dateInputs = form.querySelectorAll('input[type="date"]');
    var currentDate = new Date();

    for (var i = 0; i < dateInputs.length; i++) {
      var inputDate = new Date(dateInputs[i].value);

      if (!dateInputs[i].value || inputDate > currentDate) {
        alert("Please fill in all dates and ensure they are not greater than the current day.");
        return false; // Prevent form submission
      }
    }

    return true; // Allow form submission
  }

  function updateDivWidth() {
      // Get the current browser window width
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      // Calculate the new width for the div (e.g., 90% of the window width)
      var newWidth = Math.floor(windowWidth * 0.95);

      // Get a reference to the div element
      var divElement = document.getElementById('table-holder'); // Replace 'yourDivId' with the actual ID of your div

      // Set the new width for the div
      divElement.style.width = newWidth + 'px';
  }

    // Call the function initially to set the div's width
    updateDivWidth();

    // Add an event listener for the window resize event
    window.addEventListener('resize', updateDivWidth);

    //////////////////////////////////////////////////////////////////////////////
    // Get a reference to the form element
    var form = document.getElementById("deathStagingForm");

    // Add an event listener to the form's submit event
    form.addEventListener("submit", validateForm);

    // Function to validate the form on submit
    function validateForm(event) {
      // Get all the select elements within the form
      var selectElements = form.querySelectorAll("select[name^='reason_']");

      // Iterate over the select elements
      for (var i = 0; i < selectElements.length; i++) {
        var selectElement = selectElements[i];

        // Check if the selected option is "--Select Reason--"
        if (selectElement.value === "--Select Reason--") {
          // Prevent the form submission
          event.preventDefault();

          // Optionally, you can display an error message or perform any other action
          alert("Please select a reason for all Animals.");

          // Exit the validation loop
          return;
        }
      }
    }
</script>
{% endblock %}